package vo

{{- if and .MySQL .MongoDB }}
import (
	mongoDo "{{ .ModuleName }}/internal/models/do/mongo/example_do"
	mysqlDo "{{ .ModuleName }}/internal/models/do/mysql/example_do"
)
{{- else if .MySQL }}
import mysqlDo "{{ .ModuleName }}/internal/models/do/mysql/example_do"
{{- else if .MongoDB }}
import mongoDo "{{ .ModuleName }}/internal/models/do/mongo/example_do"
{{- end }}

type CreateUserReq struct {
	Name     string `json:"name" validate:"required"`
	Email    string `json:"email" validate:"required"`
	Password string `json:"password" validate:"required"`
}

type UpdateUserReq struct {
	Name  string `json:"name"`
	Email string `json:"email"`
}

type LoginReq struct {
	Email    string `json:"email" validate:"required"`
	Password string `json:"password" validate:"required"`
}

type LoginResp struct {
	Token  string `json:"token"`
	Expire int    `json:"expire"`
}

{{- if .MySQL }}
type UserListResp struct {
	Total int64          `json:"total"`
	List  []mysqlDo.User `json:"list"`
}
{{- end }}

{{- if .MongoDB }}
type UserMongoListResp struct {
	Total int64           `json:"total"`
	List  []*mongoDo.User `json:"list"`
}
{{- end }}

type UserIDResp struct {
	ID int64 `json:"id"`
}

{{- if .MongoDB }}
type UserMongoIDResp struct {
	ID string `json:"id"`
}
{{- end }}
