package my_common

import (
	"context"
	"errors"

	gormv2 "{{ .ModuleName }}/internal/lib/gorm"
	commonDo "{{ .ModuleName }}/internal/models/do/mysql/common"
)

type ConfigKVRepository interface {
	GetByKey(ctx context.Context, key string) (commonDo.ConfigKV, error)
}

type mysqlConfigKVRepo struct {
	engine *gormv2.Engine
}

func NewConfigKVRepository(engine *gormv2.Engine) (ConfigKVRepository, error) {
	if engine == nil {
		return nil, errors.New("database engine is nil")
	}
	return &mysqlConfigKVRepo{
		engine: engine,
	}, nil
}

func (m *mysqlConfigKVRepo) GetByKey(ctx context.Context, key string) (commonDo.ConfigKV, error) {
	var kv commonDo.ConfigKV
	err := m.engine.Connect().WithContext(ctx).Table(commonDo.ConfigKV{}.TableName()).
		Where("config_key = ?", key).
		First(&kv).Error
	return kv, err
}
