package my_common

import (
	"context"
	"errors"

	gormv2 "{{ .ModuleName }}/internal/lib/gorm"
	commonDo "{{ .ModuleName }}/internal/models/do/mysql/common"
)

type LarkMsgLogRepository interface {
	CreateRecord(ctx context.Context, msg commonDo.LarkMessageLog) error
}

type mysqlLarkMsgLogRepository struct {
	engine *gormv2.Engine
}

func NewLarkMsgLogRepository(engine *gormv2.Engine) (LarkMsgLogRepository, error) {
	if engine == nil {
		return nil, errors.New("database engine is nil")
	}
	return &mysqlLarkMsgLogRepository{
		engine: engine,
	}, nil
}

func (m *mysqlLarkMsgLogRepository) CreateRecord(ctx context.Context, msg commonDo.LarkMessageLog) error {
	return m.engine.Connect().WithContext(ctx).Table(commonDo.LarkMessageLog{}.TableName()).
		Create(&msg).Error
}
