package repository

import (
	"go.uber.org/fx"
{{- if .MongoDB }}

	mongo_example_repo "{{ .ModuleName }}/internal/repository/mongo/example_repo"
{{- end }}
{{- if .MySQL }}
	mysql_example_repo "{{ .ModuleName }}/internal/repository/mysql/example_repo"
	"{{ .ModuleName }}/internal/repository/mysql/my_common"
{{- end }}
)

var Module = fx.Provide(
{{- if .MySQL }}
	my_common.NewConfigKVRepository,
	my_common.NewLarkMsgLogRepository,
	mysql_example_repo.NewUserRepository,
{{- end }}
{{- if .MongoDB }}
	mongo_example_repo.NewUserRepository,
{{- end }}
)
