package repository

import (
 "go.uber.org/fx"
{{ if and .Examples .MongoDB }}
 mongo_example_repo "{{ .ModuleName }}/internal/repository/mongo/example_repo"
{{ end }}
{{ if and .Examples .MySQL }}
 mysql_example_repo "{{ .ModuleName }}/internal/repository/mysql/example_repo"
{{ end }}
)
var Module=fx.Provide(
{{ if and .Examples .MySQL }}mysql_example_repo.NewUserRepository,{{ end }}
{{ if and .Examples .MongoDB }}mongo_example_repo.NewUserRepository,{{ end }}
)
