module {{ .ModuleName }}

go {{ .GoVersion }}

require (
 github.com/fatih/color v1.19.0
 github.com/labstack/echo-contrib/v5 v5.0.1
 github.com/labstack/echo/v5 v5.4.0
 github.com/prometheus/client_golang v1.24.1
 github.com/speps/go-hashids/v2 v2.0.1
 github.com/spf13/cobra v1.10.2
 github.com/spf13/viper v1.21.0
 go.uber.org/fx v1.24.0
 go.uber.org/zap v1.28.0
 gopkg.in/natefinch/lumberjack.v2 v2.2.1
{{ if .JWT }}
 github.com/golang-jwt/jwt/v5 v5.3.1
{{ end }}
{{ if .Redis }}
 github.com/redis/go-redis/v9 v9.22.0
{{ end }}
{{ if .Cron }}
 github.com/robfig/cron/v3 v3.0.1
{{ end }}
{{ if .Lark }}
 github.com/larksuite/oapi-sdk-go/v3 v3.12.0
{{ end }}
{{ if .Prometheus }}
 github.com/prometheus/common v0.72.0
{{ end }}
{{ if .MySQL }}
 github.com/DATA-DOG/go-sqlmock v1.5.2
 github.com/go-sql-driver/mysql v1.10.1
 gorm.io/driver/mysql v1.6.0
 gorm.io/gorm v1.31.2
{{ end }}
{{ if .MongoDB }}
 go.mongodb.org/mongo-driver/v2 v2.9.1
{{ end }}
)

// Shared transitive version constraints; go mod tidy removes unused components.
require (
	filippo.io/edwards25519 v1.2.0 // indirect
	github.com/beorn7/perks v1.0.1 // indirect
	github.com/cespare/xxhash/v2 v2.3.0 // indirect
	github.com/fsnotify/fsnotify v1.10.1 // indirect
	github.com/go-viper/mapstructure/v2 v2.5.0 // indirect
	github.com/inconshreveable/mousetrap v1.1.0 // indirect
	github.com/jinzhu/inflection v1.0.0 // indirect
	github.com/jinzhu/now v1.1.5 // indirect
	github.com/json-iterator/go v1.1.12 // indirect
	github.com/klauspost/compress v1.20.1 // indirect
	github.com/mattn/go-colorable v0.1.15 // indirect
	github.com/mattn/go-isatty v0.0.24 // indirect
	github.com/modern-go/concurrent v0.0.0-20180306012644-bacd9c7ef1dd // indirect
	github.com/modern-go/reflect2 v1.0.2 // indirect
	github.com/munnerz/goautoneg v0.0.0-20191010083416-a7dc8b61c822 // indirect
	github.com/pelletier/go-toml/v2 v2.4.3 // indirect
	github.com/prometheus/client_model v0.6.3 // indirect
	github.com/prometheus/procfs v0.22.0 // indirect
	github.com/sagikazarmark/locafero v0.12.0 // indirect
	github.com/sourcegraph/conc v0.3.1-0.20240121214520-5f936abd7ae8 // indirect
	github.com/spf13/afero v1.15.0 // indirect
	github.com/spf13/cast v1.10.0 // indirect
	github.com/spf13/pflag v1.0.10 // indirect
	github.com/subosito/gotenv v1.6.0 // indirect
	github.com/xdg-go/pbkdf2 v1.0.0 // indirect
	github.com/xdg-go/scram v1.2.0 // indirect
	github.com/xdg-go/stringprep v1.0.4 // indirect
	github.com/youmark/pkcs8 v0.0.0-20240726163527-a2c0da244d78 // indirect
	go.uber.org/atomic v1.12.0 // indirect
	go.uber.org/dig v1.19.0 // indirect
	go.uber.org/multierr v1.11.0 // indirect
	go.yaml.in/yaml/v3 v3.0.5 // indirect
	golang.org/x/crypto v0.57.0 // indirect
	golang.org/x/sync v0.23.0 // indirect
	golang.org/x/sys v0.48.0 // indirect
	golang.org/x/text v0.42.0 // indirect
	golang.org/x/time v0.16.0 // indirect
	google.golang.org/protobuf v1.36.12 // indirect
)
