package example_repo

import (
	"context"
	"errors"
	"time"

	"go.mongodb.org/mongo-driver/v2/bson"
	"go.mongodb.org/mongo-driver/v2/mongo"
	"go.mongodb.org/mongo-driver/v2/mongo/options"

	"{{ .ModuleName }}/internal/lib/mongodb"
	do "{{ .ModuleName }}/internal/models/do/mongo/example_do"
	"{{ .ModuleName }}/utils"
)

type UserRepository interface {
	GetByID(ctx context.Context, id bson.ObjectID) (*do.User, error)
	GetByCondAndPage(ctx context.Context, cond bson.M, skip, limit int64) ([]*do.User, int64, error)
	Create(ctx context.Context, user *do.User) error
	UpdateByID(ctx context.Context, id bson.ObjectID, updates bson.M) error
	DeleteByID(ctx context.Context, id bson.ObjectID) error
}

type mongoUserRepo struct {
	collection *mongo.Collection
}

func NewUserRepository(client *mongodb.Client) (UserRepository, error) {
	if client == nil {
		return nil, errors.New("mongodb client is nil")
	}
	return &mongoUserRepo{collection: client.Collection(do.User{}.Collection())}, nil
}

func (m *mongoUserRepo) GetByID(ctx context.Context, id bson.ObjectID) (*do.User, error) {
	var user do.User
	err := m.collection.FindOne(ctx, bson.M{
		"_id":       id,
		"isDeleted": bson.M{"$ne": true},
	}).Decode(&user)
	if errors.Is(err, mongo.ErrNoDocuments) {
		return nil, utils.ErrNotFound
	}
	return &user, err
}

func (m *mongoUserRepo) GetByCondAndPage(ctx context.Context, cond bson.M, skip, limit int64) ([]*do.User, int64, error) {
	count, err := m.collection.CountDocuments(ctx, cond)
	if err != nil {
		return nil, 0, err
	}
	cursor, err := m.collection.Find(
		ctx,
		cond,
		options.Find().SetSort(bson.D{bson.E{Key: "_id", Value: -1}}).SetSkip(skip).SetLimit(limit),
	)
	if err != nil {
		return nil, 0, err
	}
	defer cursor.Close(ctx)

	var users []*do.User
	if err = cursor.All(ctx, &users); err != nil {
		return nil, 0, err
	}
	return users, count, nil
}

func (m *mongoUserRepo) Create(ctx context.Context, user *do.User) error {
	now := time.Now()
	user.ID = bson.NewObjectID()
	user.CreatedAt = now
	user.UpdatedAt = now
	_, err := m.collection.InsertOne(ctx, user)
	return err
}

func (m *mongoUserRepo) UpdateByID(ctx context.Context, id bson.ObjectID, updates bson.M) error {
	updates["updatedAt"] = time.Now()
	result, err := m.collection.UpdateByID(ctx, id, bson.M{"$set": updates})
	if err != nil {
		return err
	}
	if result.MatchedCount == 0 {
		return utils.ErrNotFound
	}
	return nil
}

func (m *mongoUserRepo) DeleteByID(ctx context.Context, id bson.ObjectID) error {
	return m.UpdateByID(ctx, id, bson.M{"isDeleted": true})
}
