package http

import (
	"context"
	"crypto/subtle"
	"errors"
	"net"
	stdhttp "net/http"

	prom "github.com/labstack/echo-contrib/v5/echoprometheus"
	"github.com/labstack/echo/v5"
	mid "github.com/labstack/echo/v5/middleware"
	"go.uber.org/fx"

	"{{ .ModuleName }}/config"
	"{{ .ModuleName }}/internal/lib/log"
	redisv9 "{{ .ModuleName }}/internal/lib/redis"
)

var Module = fx.Provide(NewServer)

func NewServer(lifecycle fx.Lifecycle, cfg config.Config, cache *redisv9.Client) *echo.Echo {
	instance := echo.New()
	m := InitMiddleware(cfg, cache)

	instance.Use(m.CORS)
	instance.Use(m.Logger)
	instance.Use(m.Recover)
	instance.Use(mid.BodyLimit(cfg.Server.MaxBodyBytes))
	instance.Use(prom.NewMiddleware("{{ .BinaryName }}"))

	switch cfg.Key.Type {
	case "basic":
		instance.Use(mid.BasicAuthWithConfig(mid.BasicAuthConfig{
			Skipper: func(c *echo.Context) bool { return m.isPublicURI(c.Request().URL.Path) },
			Validator: func(_ *echo.Context, user, password string) (bool, error) {
				userMatch := subtle.ConstantTimeCompare([]byte(user), []byte(cfg.Key.Basic.User)) == 1
				passwordMatch := subtle.ConstantTimeCompare([]byte(password), []byte(cfg.Key.Basic.Password)) == 1
				return userMatch && passwordMatch, nil
			},
		}))
	case "key":
		instance.Use(m.AccessAuth)
	case "jwt":
		instance.Use(m.JWT)
	}

	instance.HTTPErrorHandler = m.ErrorHandler
	instance.GET("/metrics", prom.NewHandler())

	server := &stdhttp.Server{
		Addr:              cfg.Server.Address,
		Handler:           instance,
		ReadHeaderTimeout: cfg.Server.ReadHeaderTimeout,
		ReadTimeout:       cfg.Server.ReadTimeout,
		WriteTimeout:      cfg.Server.WriteTimeout,
		IdleTimeout:       cfg.Server.IdleTimeout,
	}

	lifecycle.Append(fx.Hook{
		OnStart: func(context.Context) error {
			listener, err := net.Listen("tcp", cfg.Server.Address)
			if err != nil {
				return err
			}
			log.Logger.Infof("HTTP server listening on %s", listener.Addr())
			go func() {
				if serveErr := server.Serve(listener); serveErr != nil && !errors.Is(serveErr, stdhttp.ErrServerClosed) {
					log.Logger.Errorf("HTTP server stopped unexpectedly: %v", serveErr)
				}
			}()
			return nil
		},
		OnStop: func(ctx context.Context) error {
			log.Logger.Info("stopping HTTP server")
			return server.Shutdown(ctx)
		},
	})
	return instance
}
