package gormv2

import (
	"context"
	"fmt"
	"net"
	"strconv"
	"time"

	mysqlDriver "github.com/go-sql-driver/mysql"
	gormMySQL "gorm.io/driver/mysql"
	"gorm.io/gorm"
	"gorm.io/gorm/logger"
	"go.uber.org/fx"

	"{{ .ModuleName }}/config"
	"{{ .ModuleName }}/internal/lib/log"
)

type Engine struct {
	gorm *gorm.DB
}

func New(lifecycle fx.Lifecycle, c config.Config) (*Engine, error) {
	conf, err := normalizeConfig(c.Database)
	if err != nil {
		return nil, err
	}
	location, err := time.LoadLocation(conf.TimeZone)
	if err != nil {
		return nil, fmt.Errorf("load database timezone %q: %w", conf.TimeZone, err)
	}

	driverConfig := mysqlDriver.NewConfig()
	driverConfig.User = conf.User
	driverConfig.Passwd = conf.Password
	driverConfig.Net = "tcp"
	driverConfig.Addr = net.JoinHostPort(conf.Host, strconv.Itoa(conf.Port))
	driverConfig.DBName = conf.Database
	driverConfig.ParseTime = true
	driverConfig.Loc = location
	driverConfig.Params = map[string]string{"charset": conf.Charset}

	db, err := gorm.Open(gormMySQL.Open(driverConfig.FormatDSN()), &gorm.Config{})
	if err != nil {
		return nil, fmt.Errorf("open mysql database: %w", err)
	}
	engine := &Engine{gorm: db}
	engine.wrapLog()

	sqlDB, err := db.DB()
	if err != nil {
		return nil, fmt.Errorf("get sql database: %w", err)
	}
	sqlDB.SetConnMaxLifetime(conf.ConnMaxLifetime)
	sqlDB.SetMaxIdleConns(conf.MaxIdleConns)
	sqlDB.SetMaxOpenConns(conf.MaxOpenConns)

	pingCtx, cancel := context.WithTimeout(context.Background(), c.ContextTimeout)
	defer cancel()
	if err = sqlDB.PingContext(pingCtx); err != nil {
		_ = sqlDB.Close()
		return nil, fmt.Errorf("ping mysql database: %w", err)
	}
	lifecycle.Append(fx.Hook{OnStop: func(context.Context) error { return sqlDB.Close() }})
	return engine, nil
}

func (db *Engine) Connect() *gorm.DB {
	return db.gorm
}

func (db *Engine) SetLogMode(enabled bool) {
	if !enabled {
		db.gorm.Logger = db.gorm.Logger.LogMode(LogLevelSilent)
	}
}

func (db *Engine) SetLogLevel(level LogLevel) {
	db.gorm.Logger = db.gorm.Logger.LogMode(level)
}

func (db *Engine) wrapLog() {
	if log.Logger == nil {
		return
	}
	db.gorm.Logger = logger.New(
		log.Logger,
		logger.Config{
			SlowThreshold:             200 * time.Millisecond,
			LogLevel:                  logger.Info,
			IgnoreRecordNotFoundError: true,
			Colorful:                  false,
		},
	)
}
