package utils

import (
	"errors"
	"net/http"
)

var (
	ErrInternalServerError = errors.New("internal server error")
	ErrNotFound            = errors.New("not found")
	ErrConflict            = errors.New("resource already exists")
	ErrBadParamInput       = errors.New("invalid request parameters")
)

func GetStatusCode(err error) int {
	if err == nil {
		return http.StatusOK
	}

	switch {
	case errors.Is(err, ErrBadParamInput):
		return http.StatusBadRequest
	case errors.Is(err, ErrInternalServerError):
		return http.StatusInternalServerError
	case errors.Is(err, ErrNotFound):
		return http.StatusNotFound
	case errors.Is(err, ErrConflict):
		return http.StatusConflict
	default:
		return http.StatusInternalServerError
	}
}
